{% extends 'base.html' %}


{% block title %}
  Posts
{% endblock %}

{% block header %}
  {% if g.user %}
    <section class="text-gray-600 body-font">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col text-center items-center">
        <div class="lg:flex-grow lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
          <h1 class="title-font w-full sm:text-4xl text-3xl mb-4 font-small text-gray-900">Jot a note, a reminder, an idea or just about anything you dont want to forget!</h1>
        </div>
        <div class="w-full">
          <button type="submit" class ="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
            <a href="{{ url_for('blog.create') }}">New Jot</a>
          </button>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block content %}


  
  <section class="text-gray-600 body-font overflow-hidden">
    {% for post in posts %}
    {% if g.user['id'] == post['author_id'] %}
    <div class="container px-5 py-8 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="mt-1 text-gray-500 text-sm">{{ post['edited'].strftime('%d/%m/%Y, %H:%M:%S') }}</span>
          </div>
          <div class="md:flex-grow">            
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">{{ post['title'] }}</h2>
            <!-- <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p> -->
            <a class="text-indigo-500 inline-flex items-center mt-4" href="{{ url_for('blog.update', id=post['id']) }}">See post
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>                      
          </div>        
        </div>      
      </div>    
      <hr class="w-full mt-10 justify-center mx-auto">
    </div>    
    {% endif %}
  </section>
    
    <!-- <article class="post">
      <header>
        <div>
          {% if g.user['id'] == post['author_id'] %}
            <h1>{{ post['title'] }}</h1>
            <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
          {% endif %}
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      
    </article> -->
    {% if not loop.last %}
    
    {% endif %}
  {% endfor %}
{% endblock %}